@model OSL.Forum.Web.Models.Topic.TopicDetailsModel
@{
    ViewBag.Title = "Topics";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Topics</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#"></a></li>
                    <li class="breadcrumb-item active"></li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h4 class="text-primary text-bold">
                    @Model.Topic.Forum.Category.Name / @Model.Topic.Forum.Name
                </h4>
            </div>
        </div>
        <div class="row m-2">
            <div class="col">
                <h5 class="text-bold">
                    @Model.Topic.Name
                </h5>
            </div>
            <div class="col">
                <a href="@Url.Action("Create", "Post", new { topicId = @Model.Topic.Id })" class="btn btn-primary d-grid gap-2 d-flex float-right">
                    Reply
                    <i class="fas fa-reply m-1"></i>
                </a>
            </div>
        </div>
        <div class="row">
            @if (@Model.Topic.Posts.Count == 0)
            {
                <div class="col-sm-12">
                    <div class="card">
                        <div class="row p-5">
                            <div class="col align-content-center text-center">
                                <h3 class="text-bold">No Posts Yet!</h3>
                                <a href="@Url.Action("Create", "Post", new { topicId = @Model.Topic.Id })" class="btn btn-primary">
                                    <i class="fas fa-plus m-1"></i>
                                    Add a Post
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
            @foreach (var post in Model.Topic.Posts)
            {
                <div class="col-sm-12">
                    <div class="card card-info">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-sm-8 mt-2 pl-2">
                                    <h6 class="text-bold">@post.Name</h6>
                                </div>
                                <div class="col-4 mt-2">
                                    @if (Model.IsAuthenticated && (
                                        Model.UserRoles.Contains("SuperAdmin") ||
                                        Model.UserRoles.Contains("Admin") ||
                                        Model.UserRoles.Contains("Moderator") || post.Owner))
                                    {
                                        <a href="@Url.Action("Delete", "Post", new {postId = post.Id, topicId = @Model.Topic.Id})" class="d-grid gap-2 d-flex float-right p-1 ml-3">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </a>
                                    }

                                    @if (Model.IsAuthenticated && post.Owner)
                                    {
                                        <a href="@Url.Action("Edit", "Post", new {postId = post.Id, topicId = @Model.Topic.Id})" class="d-grid gap-2 d-flex float-right p-1">
                                            <i class="fa fa-edit" aria-hidden="true"></i>
                                        </a>
                                    }
                                </div>
                            </div>
                            <div class="row">
                                <i class="far fa-newspaper ml-4 m-1"></i>
                                by <b class="ml-2">@post.OwnerName</b>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12 my-3 pl-4">
                                    @Html.Raw(post.Description)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <a href="@Url.Action("Create", "Post", new { topicId = @Model.Topic.Id })" class="btn btn-primary d-grid gap-2 d-flex float-right mr-3">
            Reply
            <i class="fas fa-reply m-1"></i>
        </a>
    </div>
</section>

