@model OSL.Forum.Web.Models.Topic.TopicViewModel
@{
    ViewBag.Title = "Topics";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Topics</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#"></a></li>
                    <li class="breadcrumb-item active"></li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <h3 class="text-primary text-bold">
                    @Model.Forum.Category.Name / @Model.Forum.Name

                    @if (@Model.IsAuthenticated)
                    {
                        if (@Model.IsFavorite)
                        {
                            <a href="@Url.Action("RemoveFromFavorite", "FavoriteForum", new { forumId = @Model.Forum.Id })"
                               class="m-2">
                                <i class="fa fa-star"></i>
                            </a>
                        }
                        else
                        {
                            <a href="@Url.Action("AddToFavorite", "FavoriteForum", new { forumId = @Model.Forum.Id })"
                               class="m-2">
                                <i class="far fa-star"></i>
                            </a>
                        }
                    }
                </h3>
            </div>
            <div class="col-md-4">
                <a href="@Url.Action("Create", "Topic", new { forumId = @Model.Forum.Id })" class="btn btn-primary d-grid gap-2 d-flex float-right m-2">
                    <i class="fa fa-plus-square m-1"></i>
                    New Topic
                </a>
            </div>
        </div>
        <div class="row">
            @foreach (var topic in Model.Forum.Topics)
            {
                <div class="col-sm-12">
                    <div class="card">
                        <div class="row">
                            <div class="col-sm-12 my-3 pl-4">
                                @Html.ActionLink(@topic.Name, "Details", "Topic", new { topicId = topic.Id },
                                    new { @class = "stretched-link" })
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>