@model OSL.Forum.Web.Models.Topic.TopicViewModel
@{
    ViewBag.Title = "Topics";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Topics</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#"></a></li>
                    <li class="breadcrumb-item active"></li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <h3 class="text-primary text-bold">
                    @Model.Forum.Category.Name / @Model.Forum.Name

                    @if (@Model.IsAuthenticated)
                    {
                        if (@Model.IsFavorite)
                        {
                            <a href="@Url.Action("RemoveFromFavorite", "FavoriteForum", new { forumId = @Model.Forum.Id })"
                               class="m-2">
                                <i class="fa fa-star"></i>
                            </a>
                        }
                        else
                        {
                            <a href="@Url.Action("AddToFavorite", "FavoriteForum", new { forumId = @Model.Forum.Id })"
                               class="m-2">
                                <i class="far fa-star"></i>
                            </a>
                        }
                    }
                </h3>
            </div>
            <div class="col-md-4">
                <a href="@Url.Action("Create", "Topic", new { forumId = @Model.Forum.Id })" class="btn btn-primary d-grid gap-2 d-flex float-right m-2">
                    <i class="fa fa-plus-square m-1"></i>
                    New Topic
                </a>
            </div>
        </div>
        <div class="row">
            @foreach (var topic in Model.Topics)
            {
                <div class="col-sm-12">
                    <div class="card">
                        <div class="row">
                            <div class="col-sm-12 my-3 pl-4">
                                @Html.ActionLink(@topic.Name, "Details", "Topic", new { topicId = topic.Id },
                                    new { @class = "stretched-link" })
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row">
            <div class="col">
                <nav aria-label="Page navigation example">
                    @if (Model.Pager.EndPage > 1)
                    {
                        <ul class="pagination justify-content-center">
                            @if (Model.Pager.CurrentPage == 1)
                            {
                                <li class="page-item disabled">
                                    <a class="page-link" href="~/Topic/Topics?id=@Model.Forum.Id">First</a>
                                </li>
                                <li class="page-item disabled">
                                    <a class="page-link" href="~/Topic/Topics?page=@(Model.Pager.CurrentPage - 1)&id=@Model.Forum.Id">Previous</a>
                                </li>
                            }

                            @if (Model.Pager.CurrentPage > 1)
                            {
                                <li class="page-item">
                                    <a class="page-link" href="~/Topic/Topics?id=@Model.Forum.Id">First</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="~/Topic/Topics?page=@(Model.Pager.CurrentPage - 1)&id=@Model.Forum.Id">Previous</a>
                                </li>
                            }

                            @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                            {
                                <li class="@(page == Model.Pager.CurrentPage ? "active" : "") page-link">
                                    <a href="~/Topic/Topics?page=@page&id=@Model.Forum.Id">@page</a>
                                </li>
                            }

                            @if (Model.Pager.CurrentPage == Model.Pager.TotalPages)
                            {
                                <li class="page-item disabled">
                                    <a class="page-link" href="~/Topic/Topics?page=@(Model.Pager.CurrentPage + 1)&id=@Model.Forum.Id">Next</a>
                                </li>
                                <li class="page-item disabled">
                                    <a class="page-link" href="~/Topic/Topics?page=@(Model.Pager.TotalPages)&id=@Model.Forum.Id">Last</a>
                                </li>
                            }

                            @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                            {
                                <li class="page-item">
                                    <a class="page-link" href="~/Topic/Topics?page=@(Model.Pager.CurrentPage + 1)&id=@Model.Forum.Id">Next</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="~/Topic/Topics?page=@(Model.Pager.TotalPages)&id=@Model.Forum.Id">Last</a>
                                </li>
                            }
                        </ul>
                    }
                </nav>
            </div>
        </div>
    </div>
</section>