@model OSL.Forum.Web.Areas.Admin.Models.PendingPost.PendingPostListModel
@{
    ViewBag.Title = "Index";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>All Pending Posts</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                    <li class="breadcrumb-item active">Pending Posts</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            @foreach (var post in Model.Posts)
            {
                <div class="col-sm-12">
                    <div class="card card-info">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-sm-8 mt-2 pl-2">
                                    @Html.ActionLink(@post.Name, "Post", "PendingPost", new { postId = post.Id },
                                        new { @class = "stretched-link text-bold" })
                                </div>
                                <div class="col-4 mt-2">
                                    <a href="@Url.Action("Reject", "PendingPost", new {postId = post.Id})" class="d-grid gap-2 d-flex float-right p-1 ml-3">
                                        <i class="far fa-times-circle" aria-hidden="true"></i>
                                    </a>
                                    <a href="@Url.Action("Accept", "PendingPost", new {postId = post.Id})" class="d-grid gap-2 d-flex float-right p-1">
                                        <i class="far fa-check-circle" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="row ml-3">
                                @post.Topic.Forum.Category.Name / @post.Topic.Forum.Name / @post.Topic.Name
                            </div>
                            <div class="row">
                                <i class="far fa-newspaper ml-4 m-1"></i>
                                by <b class="ml-2">@post.OwnerName</b>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12 my-3 pl-4">
                                    @Html.Raw(post.Description)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row">
            <div class="col">
                <nav aria-label="Page navigation example">
                    @if (Model.Pager.EndPage > 1)
                    {
                        <ul class="pagination justify-content-center">
                            @if (Model.Pager.CurrentPage == 1)
                            {
                                <li class="page-item disabled">
                                    <a class="page-link" href="~/Admin/PendingPost/Index">First</a>
                                </li>
                                <li class="page-item disabled">
                                    <a class="page-link" href="~/Admin/PendingPost/Index?page=@(Model.Pager.CurrentPage - 1)">Previous</a>
                                </li>
                            }

                            @if (Model.Pager.CurrentPage > 1)
                            {
                                <li class="page-item">
                                    <a class="page-link" href="~/Admin/PendingPost/Index">First</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="~/Admin/PendingPost/Index?page=@(Model.Pager.CurrentPage - 1)">Previous</a>
                                </li>
                            }

                            @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                            {
                                <li class="@(page == Model.Pager.CurrentPage ? "active" : "") page-link">
                                    <a href="~/Admin/PendingPost/Index?page=@page">@page</a>
                                </li>
                            }

                            @if (Model.Pager.CurrentPage == Model.Pager.TotalPages)
                            {
                                <li class="page-item disabled">
                                    <a class="page-link" href="~/Admin/PendingPost/Index?page=@(Model.Pager.CurrentPage + 1)">Next</a>
                                </li>
                                <li class="page-item disabled">
                                    <a class="page-link" href="~/Admin/PendingPost/Index?page=@(Model.Pager.TotalPages)">Last</a>
                                </li>
                            }

                            @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                            {
                                <li class="page-item">
                                    <a class="page-link" href="~/Admin/PendingPost/Index?page=@(Model.Pager.CurrentPage + 1)">Next</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="~/Admin/PendingPost/Index?page=@(Model.Pager.TotalPages)">Last</a>
                                </li>
                            }
                        </ul>
                    }
                </nav>
            </div>
        </div>
    </div>
</section>

