@model OSL.Forum.Web.Areas.Admin.Models.PendingPostModel
@{
    ViewBag.Title = "Pending Post";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Pending Post</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#"></a>Pending Posts</li>
                    <li class="breadcrumb-item active">Post Details</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card card-info">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-sm-12 mt-2 pl-2">
                                <h6 class="text-bold">@Model.Post.Name</h6>
                            </div>
                        </div>
                        <div class="row ml-3">
                            @Model.Post.Topic.Name / @Model.Post.Topic.Forum.Name / @Model.Post.Topic.Forum.Category.Name
                        </div>
                        <div class="row">
                            <i class="far fa-newspaper ml-4 m-1"></i>
                            by <b class="ml-2">@Model.Post.OwnerName</b>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 my-3 pl-4">
                                @Html.Raw(Model.Post.Description)
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        @using (Html.BeginForm("Post", "PendingPost", FormMethod.Post, new { @class = "form-horizontal ml-3 mb-3", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary("", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.Id)
                            @Html.HiddenFor(model => model.TopicId)
                            <div class="form-group">
                                <div class="col-md-10">
                                    @Html.CheckBoxFor(m => m.ApprovalStatus, false)
                                    <span class="ml-3">Auto Approve @Model.Post.Topic.Name</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <button id="btnAccept" name="button" value="Accept" class="btn btn-primary mr-2">Accept</button>
                                    <button id="btnReject" name="button" value="Reject" class="btn btn-danger ml-2">Reject</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}