@model OSL.Forum.Web.Models.Home.IndexViewModel
@{
    ViewBag.Title = "Home";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>OSL Forum</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            @if (Model.IsAuthenticated && Model.FavoriteForums.Count > 0)
                {
                    <div class="col-6 p-3">
                        <div class="card-primary shadow-sm">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-12">
                                        @Html.ActionLink("Your Favorite Forums", "FavoriteForums", "FavoriteForum", null,
                                            new { @class = "stretched-link text-bold" })
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    @foreach (var favoriteForum in Model.FavoriteForums)
                                    {
                                        <li class="list-group-item">
                                            @Html.ActionLink(favoriteForum.Forum.Name, "Topics", "Topic", new { id = favoriteForum.Forum.Id },
                                                new { @class = "stretched-link" })
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                }
            @foreach (var category in @Model.Categories)
            {
                <div class="col-6 p-3">
                    <div class="card-primary shadow-sm">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-12">
                                    @Html.ActionLink(category.Name, "Details", "Home", new { id = category.Id },
                                        new { @class = "stretched-link" })
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                @foreach (var forum in category.Forums)
                                {
                                    <li class="list-group-item">
                                        @Html.ActionLink(forum.Name, "Topics", "Topic", new { id = forum.Id },
                                            new { @class = "stretched-link" })
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row">
            <div class="col">
                <nav aria-label="Page navigation example">
                    @if (Model.Pager.EndPage > 1)
                    {
                        <ul class="pagination justify-content-center">
                            @if (Model.Pager.CurrentPage == 1)
                            {
                                <li class="page-item disabled">
                                    <a class="page-link" href="~/Home/Index">First</a>
                                </li>
                                <li class="page-item disabled">
                                    <a class="page-link" href="~/Home/Index?page=@(Model.Pager.CurrentPage - 1)">Previous</a>
                                </li>
                            }

                            @if (Model.Pager.CurrentPage > 1)
                            {
                                <li class="page-item">
                                    <a class="page-link" href="~/Home/Index">First</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="~/Home/Index?page=@(Model.Pager.CurrentPage - 1)">Previous</a>
                                </li>
                            }

                            @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                            {
                                <li class="@(page == Model.Pager.CurrentPage ? "disabled" : "") page-link">
                                    <a href="~/Home/Index?page=@page">@page</a>
                                </li>
                            }

                            @if (Model.Pager.CurrentPage == Model.Pager.TotalPages)
                            {
                                <li class="page-item disabled">
                                    <a class="page-link" href="~/Home/Index?page=@(Model.Pager.CurrentPage + 1)">Next</a>
                                </li>
                                <li class="page-item disabled">
                                    <a class="page-link" href="~/Home/Index?page=@(Model.Pager.TotalPages)">Last</a>
                                </li>
                            }

                            @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                            {
                                <li class="page-item">
                                    <a class="page-link" href="~/Home/Index?page=@(Model.Pager.CurrentPage + 1)">Next</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="~/Home/Index?page=@(Model.Pager.TotalPages)">Last</a>
                                </li>
                            }
                        </ul>
                    }
                </nav>
            </div>
        </div>
    </div>
</section>