@using System.Activities.Statements
@using OSL.Forum.NHibernate.Core.BusinessObjects
@model OSL.Forum.Web.Areas.Admin.Models.Category.CategoriesModel
@{
    ViewBag.Title = "Index";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>All Categories</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <a href="/Admin/Category/Create" class="btn btn-primary d-grid gap-2 d-flex float-right m-2">
                    <i class="fa fa-plus-square m-1"></i>
                    New Category
                </a>
            </div>
        </div>
        <div class="row">
            @foreach (var category in @Model.Categories)
            {
                <div class="col-6 p-3">
                    <div class="card-primary shadow-sm">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-8">
                                    @Html.ActionLink(category.Name, "Details", "Category", new { id = category.Id },
                                        new { @class = "stretched-link" })
                                </div>
                                @if (Model.Roles.Contains("SuperAdmin"))
                                {
                                    <div class="col-4">
                                        <a href="@Url.Action("Delete", "Category", new { id = category.Id })" class="d-grid gap-2 d-flex float-right p-1 ml-3">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </a>
                                        <a href="@Url.Action("Edit", "Category", new { id = category.Id })" class="d-grid gap-2 d-flex float-right p-1">
                                            <i class="fa fa-edit" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                @foreach (var forum in category.Forums)
                                {
                                    <li class="list-group-item">
                                        @*@Html.ActionLink(forum.Name, "Details", "Category", new { id = forum.Id },
                                            new { @class = "stretched-link" })*@
                                        @forum.Name
                                    </li>

                                }
                            </ul>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row">
            <div class="col">
                <nav aria-label="Page navigation example">
                    @if (Model.Pager.EndPage > 1)
                    {
                        <ul class="pagination justify-content-center">
                            @if (Model.Pager.CurrentPage == 1)
                            {
                                <li class="page-item disabled">
                                    <a class="page-link" href="~/Admin/Category/Index">First</a>
                                </li>
                                <li class="page-item disabled">
                                    <a class="page-link" href="~/Admin/Category/Index?page=@(Model.Pager.CurrentPage - 1)">Previous</a>
                                </li>
                            }

                            @if (Model.Pager.CurrentPage > 1)
                            {
                                <li class="page-item">
                                    <a class="page-link" href="~/Admin/Category/Index">First</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="~/Admin/Category/Index?page=@(Model.Pager.CurrentPage - 1)">Previous</a>
                                </li>
                            }

                            @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                            {
                                <li class="@(page == Model.Pager.CurrentPage ? "active" : "") page-link">
                                    <a href="~/Admin/Category/Index?page=@page">@page</a>
                                </li>
                            }

                            @if (Model.Pager.CurrentPage == Model.Pager.TotalPages)
                            {
                                <li class="page-item disabled">
                                    <a class="page-link" href="~/Admin/Category/Index?page=@(Model.Pager.CurrentPage + 1)">Next</a>
                                </li>
                                <li class="page-item disabled">
                                    <a class="page-link" href="~/Admin/Category/Index?page=@(Model.Pager.TotalPages)">Last</a>
                                </li>
                            }

                            @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                            {
                                <li class="page-item">
                                    <a class="page-link" href="~/Admin/Category/Index?page=@(Model.Pager.CurrentPage + 1)">Next</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="~/Admin/Category/Index?page=@(Model.Pager.TotalPages)">Last</a>
                                </li>
                            }
                        </ul>
                    }
                </nav>
            </div>
        </div>
    </div>
</section>
