@model OSL.Forum.Web.Models.ProfileModel
@{
    ViewBag.Title = "MyProfile";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>My Profile</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#"></a></li>
                    <li class="breadcrumb-item active"></li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary shadow p-4 rounded-3">
                    <div class="row">
                        <div class="col-sm-8">
                            <p class="text-uppercase text-bold">
                                <h4>@Model.ApplicationUser.Name</h4>
                            </p>
                            <p>
                                @Model.ApplicationUser.Email
                            </p>
                        </div>
                        <div class="col-sm-4">
                            @Html.ActionLink("Edit", "Edit", "Profile", new { userID = @Model.ApplicationUser.Id },
                                new { @class = "btn btn-primary d-grid gap-2 d-flex float-right mt-4" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@*My Posts Section*@
<section class="content">
    <div class="container-fluid">
        <div class="row text-primary mt-3">
            <div class="col">
                <h3 class="text-center text-bold">
                    My Posts
                </h3>
                <hr />
            </div>
        </div>
        <div class="row">
            @foreach (var post in Model.Posts)
            {
                <div class="col-sm-12">
                    <div class="card card-info">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-sm-8 mt-2 pl-2">
                                    <h6 class="text-bold">
                                        @post.Name
                                        @if (@post.Status == "Approved")
                                        {
                                            <span class="badge bg-green">Approved</span>
                                        }
                                        @if (@post.Status == "Rejected")
                                        {
                                            <span class="badge bg-danger">Rejected</span>
                                        }
                                        @if (@post.Status == "Pending")
                                        {
                                            <span class="badge bg-yellow">Pending</span>
                                        }

                                    </h6>
                                </div>
                                <div class="col-4 mt-2">
                                    <a href="@Url.Action("DeletePost", "Profile", new {postId = post.Id, topicId = @post.TopicId})" class="d-grid gap-2 d-flex float-right p-1 ml-3">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </a>
                                    <a href="@Url.Action("EditPost", "Profile", new {postId = post.Id, topicId = @post.TopicId})" class="d-grid gap-2 d-flex float-right p-1">
                                        <i class="fa fa-edit" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12 my-3 pl-4">
                                    @Html.Raw(post.Description)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row">
            <div class="col">
                <nav aria-label="Page navigation example">
                    @if (Model.Pager.EndPage > 1)
                    {
                        <ul class="pagination justify-content-center">
                            @if (Model.Pager.CurrentPage == 1)
                            {
                                <li class="page-item disabled">
                                    <a class="page-link" href="~/Profile/MyProfile">First</a>
                                </li>
                                <li class="page-item disabled">
                                    <a class="page-link" href="~/Profile/MyProfile?page=@(Model.Pager.CurrentPage - 1)">Previous</a>
                                </li>
                            }

                            @if (Model.Pager.CurrentPage > 1)
                            {
                                <li class="page-item">
                                    <a class="page-link" href="~/Profile/MyProfile">First</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="~/Profile/MyProfile?page=@(Model.Pager.CurrentPage - 1)">Previous</a>
                                </li>
                            }

                            @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                            {
                                <li class="@(page == Model.Pager.CurrentPage ? "active" : "") page-link">
                                    <a href="~/Profile/MyProfile?page=@page">@page</a>
                                </li>
                            }

                            @if (Model.Pager.CurrentPage == Model.Pager.TotalPages)
                            {
                                <li class="page-item disabled">
                                    <a class="page-link" href="~/Profile/MyProfile?page=@(Model.Pager.CurrentPage + 1)">Next</a>
                                </li>
                                <li class="page-item disabled">
                                    <a class="page-link" href="~/Profile/MyProfile?page=@(Model.Pager.TotalPages)">Last</a>
                                </li>
                            }

                            @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                            {
                                <li class="page-item">
                                    <a class="page-link" href="~/Profile/MyProfile?page=@(Model.Pager.CurrentPage + 1)">Next</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="~/Profile/MyProfile?page=@(Model.Pager.TotalPages)">Last</a>
                                </li>
                            }
                        </ul>
                    }
                </nav>
            </div>
        </div>
    </div>
</section>