@model OSL.Forum.Web.Areas.Admin.Models.Forum.EditForumModel
@{
    ViewBag.Title = "Edit Forum";
}


<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Edit Forum</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Category Details</a></li>
                    <li class="breadcrumb-item active">Edit Forum</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <div class="card card-primary">
                    <div class="card-header text-uppercase">
                        <b>Edit Forum</b>
                    </div>
                    <div class="card-body">
                        @using (Html.BeginForm("Edit", "Forum", FormMethod.Post, new { @class = "form-horizontal ml-3 mb-3", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary("", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.Id)
                            @Html.HiddenFor(model => model.CategoryId)
                            <div class="form-group">
                                @Html.LabelFor(m => m.Name, new { @class = "col-md-6 control-label" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control col-md-6" })
                                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" class="btn btn-primary" value="Submit" />
                                </div>
                            </div>
                        }

                        @section Scripts {
                            @Scripts.Render("~/bundles/jqueryval")
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
